server:
  port: 8080 # Port for Docker (HTTP)

spring:
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          "[/**]":
            allowedOrigins:
              - "https://13.61.234.232:4201"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders:
              - "*"
            allowCredentials: true
            maxAge: 3600

eureka:
  client:
    service-url:
      # In Docker, we use the service name 'service-registry' instead of 'localhost'
      defaultZone: http://service-registry:8761/eureka/
